.bgLayout {
    max-height: 60vh;
    max-width: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../../assets/img/Banana-Fruit-Cartoon-PNG.png');
}
