<div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-6">
            <h1>VAMOS JOGAR?</h1>
        </div>
    </div>

    <div class="container">
 <h1>Escolha um mundo!</h1>

        <div class="container">
            <div class="card card0">
                <div class="border">
                    <h2>Al Pacino</h2>
                    <div class="icons">
                        <i class="fa fa-codepen" aria-hidden="true"></i>
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                        <i class="fa fa-dribbble" aria-hidden="true"></i>
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="card card1">
                <div class="border">
                    <h2>Ben Stiller</h2>
                    <div class="icons">
                        <i class="fa fa-codepen" aria-hidden="true"></i>
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                        <i class="fa fa-dribbble" aria-hidden="true"></i>
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="card card2">
                <div class="border">
                    <h2>Patrick Stewart</h2>
                    <div class="icons">
                        <i class="fa fa-codepen" aria-hidden="true"></i>
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                        <i class="fa fa-dribbble" aria-hidden="true"></i>
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>